html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #171717;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
  padding-top: 37px;
}
.call-back,
.all-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: #171717;
  color: #e4b564;
  border: 1px solid #e4b564;
  padding: 10px 40px;
  cursor: pointer;
}

.call-back {
  padding-left: 25px;
}

.call-back::before {
  content: "";
  background-image: url(./images/call-back.png);
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.about-our-work {
  width: 84%;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 41px;
  margin-bottom: 41px;
}

.list-of-work {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  gap: 34px;
}

.list-of-work p {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  padding: 44px;
}

.box-1 {
  background-color: #634f2c;
  grid-column: 1 / 3;
  grid-row: 1/2;
}

.box-2 {
  background-color: #b4a385;

  grid-column: 3 / 5;
  grid-row: 1/2;
}
.box-3 {
  background-color: #e4b564;

  grid-column: 5 / 7;
  grid-row: 1/2;
}
.box-4 {
  background-color: #635a4a;
  grid-column: 1 / 4;
  grid-row: 2/3;
}
.box-5 {
  background-color: #b08c4d;
  grid-column: 4 / 7;
  grid-row: 2/3;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-equipment {
  margin-top: 161px;
  margin-bottom: 161px;
}

.our-equipment h2 {
  margin-bottom: 94px;
}

.list-of-qwuipment {
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 897px;
}

.list-of-qwuipment p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
}

.list-of-qwuipment p {
  width: 64%;
  padding-top: 40px;
  padding-left: 40px;
}


.box-equipment-1 {
  background-color: #0e0e0e;
  grid-column: 1 / 2;
  grid-row: 1/10;
}

.box-equipment-2 {
  background-color: #242424;
  grid-column: 2 / 3;
  grid-row: 1/14;
}

.box-equipment-3 {
  background-color: #1f1f1f;
  grid-column: 3 / 4;
  grid-row: 1/8;
}

.box-equipment-4 {
  background-color: #1f1f1f;
  grid-column: 1 / 2;
  grid-row: 10/25;
}

.box-equipment-5 {
  background-color: #e4b564;
  color: black;
  grid-column: 2 / 3;
  grid-row: 14/24;
}

.box-equipment-6 {
  background-color: #0e0e0e;
  grid-column: 3 / 4;
  grid-row: 8/16;
}

.box-equipment-7 {
  background-color: #0a0909;
  grid-column: 3 / 4;
  grid-row: 16/25;
}

.wrapper-our-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-our-clients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 782px;
  padding-top: 72px;
}

.card-our-clients p {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
}

.card-1 {
  background-color: #634f2c;
}

.card-2 {
  background-color: rgba(232, 210, 171, 0.76);
}

.card-3 {
  background-color: #e4b564;
}

.card-4 {
  background-color: #635a4a;
}

.card-5 {
  background-color: #b08c4d;
}

.card-6 {
  background-color: #634f2c;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.our-clients {
  background-color: #0e0e0e;
  padding-top: 172px;
}

footer {
  height: 238px;
  background-color: #171717;
}
